<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516354100374-gm28d258a3ee62lg2acl8ueslql8rrv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516354100374-gm28d258a3ee62lg2acl8ueslql8rrv1</string>
	<key>API_KEY</key>
	<string>AIzaSyAJcg9kW53K7UU_xmGSJXLnLHg0uZthx0o</string>
	<key>GCM_SENDER_ID</key>
	<string>516354100374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Mobile</string>
	<key>PROJECT_ID</key>
	<string>test-project-6f412</string>
	<key>STORAGE_BUCKET</key>
	<string>test-project-6f412.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516354100374:ios:c86f2ab393be38ba4746b7</string>
</dict>
</plist>